.login-container{
    height: 85vh;
    width: 30%;
    padding:15px;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}
.icon{
    margin: 30px;
    color: royalblue;
    font-size: 3rem;
}

.google-btn{
    background-color: white;
    border: 2px solid lightgray;
    width: 20em;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1rem;
}
.apple-btn{
    background-color: white;
    border: 2px solid lightgray;
    width: 20em;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1rem;
}

input{
    background-color: white;
    border: 2px solid lightgray;
    width: 20em;
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.next-btn{
    background-color: black;
   color: white;
    width: 20em;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
.forgot-btn{
    background-color: white;
    border: 2px solid lightgray;
    width: 20em;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}
a{
    color: blue;
    }
    .icon{
        margin: 30px;
        color: royalblue;
        font-size: 3rem;
    }

    .google-btn{
        background-color: white;
        border: 2px solid lightgray;
        width: 20em;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1rem;
    }
    .apple-btn{
        background-color: white;
        border: 2px solid lightgray;
        width: 20em;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1rem;
    }
    input{
        background-color: white;
        border: 2px solid lightgray;
        width: 20em;
        padding: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .next-btn{
        background-color: black;
       color: white;
        width: 20em;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 15px;
    }
    .forgot-btn{
        background-color: white;
        border: 2px solid lightgray;
        width: 20em;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 15px;
    }
    a{
        color: blue;
    }

    /* @media screen and (max-width:1249px) {
        .google-btn{
            background-color: white;
            border: 2px solid lightgray;
            width: 20em;
            padding: 10px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 1rem;
        }
        .apple-btn{
            background-color: white;
            border: 2px solid lightgray;
            width: 20em;
            padding: 10px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 1rem;
        }
    } */