    .Trendbox{
        background-color: rgb(255, 251, 251);
      
        margin-top: -5%;
        width: 70%;
        padding: 2rem;
        margin-left: 2rem;
        border-radius: 1.2em;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(249, 244, 244);
        position: relative;

    }

    h1{
        
        /* text-align: start; */
        position: absolute;
        top: 0;
        left: 0;
        /* margin-top: -2rem; */
        
    }


    .Trend_main{
        background-color: rgb(255, 251, 251);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        padding-right: 1em;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .Trend_main:hover{
        box-shadow: 0 0 8px 0 dodgerblue;
        transition: .3s;
    }

    .content{
        height: 10vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 251, 251);
    }

    .content1{
    font-weight: bolder;
    }

    .poperParent{
        position: relative;
    }

    .imgcontainer{
        border: 1px solid black;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .poper{
        position: absolute;
        right: 2rem;
        padding: 1rem;
        width: 12rem;
        background-color: rgb(238, 234, 234);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        /* margin-top: 2rem; */
    }
    .img{

        height: 5rem;
        width: 7rem;
    margin-left: 59%;

        z-index: 222;
        border-radius: 2rem;
    }
    .showmore{
        color:  black;
        padding: 10px;
        cursor: pointer;
        color: rgb(41, 169, 219);
        border: none;
        font-size: 20px;
        right:100%;
        border-radius: 30rem;
    
        
    }
    .showmore:hover{
        background-color: lightgray;    
    }
    .btn{
        margin-top: 3px;
        margin-bottom: 2px;
        /* font-weight: 600; */
        /* background-color:rgb(245, 241, 241); */
        border-radius: 50rem;
        border: 2px solid red;

    }
    .btn:hover{
        
        width: 100%;
        background-color: rgb(184, 179, 179);
    }
    @media only screen and (min-width: 200px) and (max-width : 700px) {
    .box{
        display: none;
        width: 0%;
    }

    }