body{
  background-color: white;
}
.home {
    display: flex;
    /* border: 2px solid red; */
    border: 1px solid lightgray;
    width: 40em;
    margin: 0 auto;
  }
  
  .header {
    /* background-color: white; */
    /* border-right: 1px solid #181818; */
    /* color: #fff; */
    padding: 20px;
    width: 600px;
    border: 1px solid lightgray;
    /* border-bottom: 1px solid #181818; */
  }
  
  .header > .row-between1 {
    height: 60px;
    background: rgba(253, 251, 251, 0.5);
    margin-left: -20px;
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 600px;
    position: fixed;
    top: 0;
    border: 0.1px solid lightgray;
  }
  
  .header > .row-between > h4 {
    font-size: 1.2rem;
    font-weight: bolder;
    /* color: #d6d9db; */
    color: #000000;
  }
  
  .headerIcon {
    /* color: #ffffff; */
    color: #000000;
    width: 35px;
    height: 35px;
    padding: 6px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .headerIcon:hover {
    background-color:#dceffc ;
    color: #88caf9;

  }
  
  .headerCreate {
    margin-top: 15%;
    padding-top: 15px;
    /* border: 2px solid green; */
  }
  
  .headerCreateInput {
    /* border: 1px solid red; */
    resize: none;
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border: none;
    font-size: large;
    border-radius: 5px;
    padding: 13px;
    background-color:#fff;
    /* color: #fff; */
    color: #000000;
    outline: none;
    border: 0;
  }
  
  .row-between{
    border: 1px solid lightgray;
    text-align: center;
    height: 10vh;
    width: 100%;
  }
  .headerCreateButton {
    margin-top: -45px;
    /* border: 2px solid yellowgreen; */
    width: 30%;
    height: 5vh;
    margin-left: 70%;
    text-align: center;
  }
  
  .headerCreateButton > button {
    background-color: #88caf9;
    color: #fff;
    border: none;
    width: 95px;
    border-radius: 20px;
    padding: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
  }
  
  .headerCreateButton > button:hover {
    background-color: #0f7bb7;
  }
  
  .headerCreateIcons {
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
   
  }
  
  .headerCreateIcons > .MuiSvgIcon-root {
    color: #1d9bf0;
    width: 35px;
    height: 35px;
    padding: 7px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .headerCreateIcons > .MuiSvgIcon-root:hover {
    background-color: #d8e6ee;
  }
  

  .Verified-tick{
    margin-top: -10%;
   /* border: 2px solid red; */
   width: 80%;
   margin-left: 30px;
   margin-bottom: 10%;
   color: gray;
   
  }

  /* .feed {
    border: 2px solid blue;

  } */
  
  .feedItem {
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .feedItem:hover {
    background-color: #f0e9e9;
  }
  
  .feedItemInfo > h4 {
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
    color: #ffffff;
  }
  
  .feedItemInfo > p {
    font-size: 0.9rem;
    margin-right: 5px;
    color: #676b6f;
    margin-top: -4px;
    font-weight: 500;
  }
  
  .feedMoreIcon {
    color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 6px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .feedMoreIcon:hover {
    color: #1d9bf0;
    background-color: #0a171f;
  }
  
  .feedItemContent {
    /* margin-top: 20px; */
    margin-left: 20px;
    /* border: 2px solid green; */
    height: 50vh;
    width: 90%;
  
  }
  
  .Text-box{
    /* border: 2px solid pink; */
    width: 100%;

  }
  .Image-box{
    margin-top: 5%;
    width: 90%;
    height: 40vh;
    border-radius: 20px;
  
  }
  
  .feedItemContent > h4 > img {
    width: 95%;
    margin-bottom: 10px;
    height: 50%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .feedItemFooter {
    /* border: 2px solid red; */
    margin-left: 60px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: gray;
    
  }
  
  /* 1 */
  .Message-icon:hover{
    color: #1d9bf0;
    /* background-color:#c2dbeb ; */
    
  }
  .M-I:hover{
    background-color:#c2dbeb ;
    border-radius: 50px;
    /* padding: 2px; */
  }

  /* 2 */

  .Load-icon:hover{
    color: #00b075;
    /* background-color:#c2dbeb ; */
    
  }
  .L-I:hover{
    background-color:#a9edd7 ;
    border-radius: 50px;
  }
/* 3 */
  .Hart-icon:hover{
    color: red;
    /* background-color:#c2dbeb ; */
    
  }
  .H-I:hover{
    background-color:rgb(240, 162, 162) ;
    border-radius: 50px;
  }
  /* 4 */

  .Rating-icon:hover{
    color: #1d9bf0;
    
  }
  /* 5 */
  .R-I:hover{
    background-color:#c2dbeb ;
    border-radius: 50px;
  }

  /* .Five-icon:hover{
    color: #1d9bf0;
    
  } */
  /* 5 */
  .F-I:hover{
    background-color:#c2dbeb ;
    border-radius: 50px;
  }
  
  .feedItemIcons {
    margin-top: -10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .feedItemFooter > .row-between > .feedItemIcons > .MuiSvgIcon-root {
    width: 30px;
    height: 30px;
    color: #676b6f;
    padding: 6px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .feedItemFooter > .row-between > .feedItemIcons > p {
    color: #676b6f;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 0.8rem;
  }
  
  /* Diff Icons Diff Colors */
  
  /* .feedItemFooter > .row-between > .View:hover > .MuiSvgIcon-root {
    color: #1d9bf0;
    background-color: #0a171f;
  }
  
  .feedItemFooter > .row-between > .View:hover > p {
    color: #1d9bf0;
  }
  
  .feedItemFooter > .row-between > .Reply:hover > .MuiSvgIcon-root {
    color: #1d9bf0;
    background-color: #0a171f;
  }
  
  .feedItemFooter > .row-between > .Reply:hover > p {
    color: #1d9bf0;
  }
  
  .feedItemFooter > .row-between > .Share:hover > .MuiSvgIcon-root {
    color: #1d9bf0;
    background-color: #0a171f;
  }
  
  .feedItemFooter > .row-between > .Share:hover > p {
    color: #1d9bf0;
  }
  
  .feedItemFooter > .row-between > .ReTweet:hover > .MuiSvgIcon-root {
    color: #00b075;
    background-color: #071a14;
  }
  
  .feedItemFooter > .row-between > .ReTweet:hover > p {
    color: #00b075;
  }
  
  .feedItemFooter > .row-between > .Like:hover > .MuiSvgIcon-root {
    color: #f91880;
    background-color: #200914;
  }
  
  .feedItemFooter > .row-between > .Like:hover > p {
    color: #f91880;
  }
  
  .search {
    margin-top: -10px;
    padding-left: 20px;
    width: 420px;
  }
  
  .searchTwitter {
    position: fixed;
    width: 380px;
    margin-top: 20px;
    background-color: #202327;
    border-radius: 20px;
  }
  
  .searchTwitter > div > .MuiSvgIcon-root {
    color: #676c71;
    width: 40px;
    height: 40px;
    padding: 7px;
    margin-top: 3px;
    margin-left: 10px;
  }
  
  .searchTwitter > div > input {
    width: 80%;
    height: 45px;
    border: none;
    background-color: #202327;
    color: #fff;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px;
  }
  
  .trends {
    position: fixed;
    top: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 20px;
    width: 380px;
    border-radius: 20px;
    background-color: #16181c;
  }
  
  .trends > h4 {
    color: #e7e9ea;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
  }
  
  .trend {
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: -10px;
  }
  
  .trend:hover {
    background-color: #1d1f23;
  }
  
  .trend > div > h4 {
    color: #e7e9ea;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .trend > div > p {
    color: #676b6f;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .trend > .MuiSvgIcon-root {
    color: #ffffff;
    width: 35px;
    height: 35px;
    padding: 6px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .trend > .MuiSvgIcon-root:hover {
    color: #1d9bf0;
    background-color: #1d2c37;
  }
  
  .trendsFooter {
    padding: 10px;
    cursor: pointer;
    color: #1d9bf0;
    transition: 0.5s;
    margin-left: -10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .trendsFooter:hover {
    background-color: #1d1f23;
  } */